# ClickHouse Connection Details
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=sentient
CLICKHOUSE_PASSWORD=strongpassword123
CLICKHOUSE_DATABASE=sentient_log

# AI Provider Details
OPENAI_API_KEY=your_api_key_here
OPENAI_BASE_URL=https://api.groq.com/openai/v1
OPENAI_MODEL=llama-3.3-70b-versatile
